<main>
    <div class="mx-3 d-block my-4">
        <div class="row justify-content-center g-4">
            <div class="text-center">
                <h2>Giỏ hàng</h2>
            </div>
            <div class="col-12 col-lg-7" ng-repeat="sanPham in danhSachSanPham">
                <div class="bg-white border rounded-4 shadow-sm">
                    <div class="border rounded-4 overflow-hidden shadow-sm">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center">
                                <div class="ratio ratio-1x1">
                                    <img src="{{sanPham.anh}}" class="object-fit-contain" alt="">
                                </div>
                            </div>
                            <div class="col-8 infor mt-2 px-3">
                                <div class="row">
                                    <div class="col-9">
                                        <div class="product-name overflow-hidden" style="height: 70px;">
                                            <a class="nav-link" href="#!/chiTietSanPham/{{sanPham.id}}">
                                                <p class="fw-bold fs-4">{{sanPham.name}}</p>
                                            </a>
                                        </div>
                                        <div class="d-flex flex-wrap mb-3 ">
                                            <p class="fw-bold text-danger my-0 fs-4">{{sanPham.price}}</p>
                                            <p class="fw-bold text-danger ms-1 my-0">vnđ</p>
                                        </div>
                                    </div>
                                    <div class="col-3 pe-2">
                                        <div class="d-flex justify-content-center"><i class="fas fa-trash-alt fs-3 my-2"
                                                ng-click="xoa(sanPham.id)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="col-12 col-lg-7 fixed-bottom container bg-white border border-1 border-success border-bottom-0 p-3 getheight">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h4 class="mb-0 d-inline me-1">Tổng tiền:</h4>
                        <div class="text-danger d-inline">
                            <h3 class="d-inline">{{tongTien}}</h3>
                            <p class="d-inline">vnđ</p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger btn-lg" ng-click="mua()">Mua
                        ngay</button>
                </div>
            </div>
        </div>
    </div>
</main>