<main>
    <div class="container">
        <div class="my-4">
            <h2>Quản lý hóa đơn</h2>
            <div class="table-responsive">
                <table class="table my-2 table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>Mã</th>
                            <th>Tên khách</th>
                            <th>Số điện thoại</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="donHang in danhSachDonHang">
                            <td>{{donHang.id}}</td>
                            <td>{{donHang.name}}</td>
                            <td>{{donHang.sdt}}</td>
                            <td>{{donHang.price}}</td>
                            <td>
                                <p class="m-0 fw-bold text-success" ng-show="donHang.trangThai">Đã thanh toán</p>
                                <p class="m-0 fw-bold text-danger" ng-show="!donHang.trangThai">Chưa thanh toán</p>
                            </td>
                            <td>
                                <div class="d-flex align-items-center justify-content-end">
                                    <button class="btn btn-success me-1 btn-sm" type="button" data-bs-toggle="modal"
                                        data-bs-target="#xem-don-hang" ng-click="xem(donHang.id)">Xem</button>
                                    <button class="btn btn-warning btn-sm" type="button" data-bs-toggle="modal"
                                        data-bs-target="#sua-don-hang" ng-click="xem(donHang.id)">Sửa</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="xem-don-hang">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thông tin đơn hàng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="mx-2">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="d-flex">
                                <h4 class="me-1">Mã đơn hàng:</h4>
                                <h4>{{thongTin.id}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="my-3">
                        <h4 class="my-2">Thông tin khách hàng</h4>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div class="d-flex me-5">
                                <h5 class="me-2 text-nowrap">Tên khách hàng:</h5>
                                <h5>{{thongTin.name}}</h5>
                            </div>
                            <div class="d-flex">
                                <h5 class="me-2">Sdt:</h5>
                                <h5>{{thongTin.sdt}}</h5>
                            </div>
                        </div>
                        <div class="d-flex">
                            <h5 class="me-2">Email:</h5>
                            <h5>{{thongTin.email}}</h5>
                        </div>
                        <div class="d-flex">
                            <h5 class="me-2">Địa chỉ:</h5>
                            <h5>{{thongTin.diaChi}}</h5>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="row g-2">
                            <div class="col-12" ng-repeat="sanPham in danhSachSanPham">
                                <div class="border rounded-4 overflow-hidden shadow-sm bg-white">
                                    <div class="row g-0">
                                        <div class="col-3">
                                            <div class="ratio ratio-1x1">
                                                <img src="{{sanPham.anh}}" class="object-fit-contain" alt="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="infor mt-2 px-1">
                                                <div class="product-name overflow-hidden" style="height: 60px;">
                                                    <p class="fw-bold fs-5">{{sanPham.name}}</p>
                                                </div>
                                                <div class="d-flex flex-wrap mb-3 ">
                                                    <p class="fw-bold text-danger my-0">{{sanPham.price}}</p>
                                                    <p class="fw-bold text-danger ms-1 my-0">vnđ</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 p-1">
                                            <p class="d-inline">Số lượng: </p>
                                            <p class="d-inline">1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <h3 class="me-2">Tổng tiền:</h3>
                        <h3>{{thongTin.price}}</h3>
                        <span>đ</span>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="sua-don-hang">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sửa đơn hàng</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h4 class="m-2">Thông tin khách hàng</h4>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="m-2">
                            <label for="ten-khach-hang">Tên khách hàng</label>
                            <input class="form-control" type="text" id="ten-khach-hang" placeholder="Tên khách hàng"
                                ng-model="thongTin.name">
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="m-2">
                            <label for="sdt-khach-hang">Số điện thoại</label>
                            <input class="form-control" type="tel" id="sdt-khach-hang" placeholder="Số điện thoại"
                                ng-model="thongTin.sdt">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="m-2">
                            <label for="email-khach-hang">Email</label>
                            <input class="form-control" type="text" id="email-khach-hang" placeholder="Email"
                                ng-model="thongTin.email">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="m-2">
                            <label for="dia-chi-khach-hang">Địa chỉ</label>
                            <input class="form-control" type="text" id="dia-chi-khach-hang" placeholder="Địa chỉ"
                                ng-model="thongTin.diaChi">
                        </div>
                    </div>
                    <div class="m-2">
                        <label for="dia-chi-khach-hang">Trạng thái: </label>
                        <input type="button" class="btn btn-success" value="Chấp nhận thanh toán" ng-show="!thongTin.trangThai" ng-click="xacNhanThanhToan(true)">
                        <input type="button" class="btn btn-danger" value="Hủy thanh toán" ng-show="thongTin.trangThai" ng-click="xacNhanThanhToan(false)">
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                    ng-click="sua(thongTin.id)">Sửa</button>
            </div>

        </div>
    </div>
</div>