<main>
    <div class="container my-3">
        <div class="row g-4">
            <div class="col-12 col-lg-4">
                <div class="row g-2">
                    <div class="col-12" ng-repeat="sanPham in danhSachSanPham">
                        <div class="border rounded-4 overflow-hidden shadow-sm bg-white">
                            <div class="row g-0">
                                <div class="col-3">
                                    <div class="d-flex align-items-center h-100">
                                        <div class="ratio ratio-1x1">
                                            <img src="{{sanPham.anh}}" class="object-fit-contain" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="infor mt-2 px-1">
                                        <div class="product-name overflow-hidden" style="height: 60px;">
                                            <p class="fw-bold fs-5">{{sanPham.name}}</p>
                                        </div>
                                        <div class="d-flex flex-wrap mb-3 ">
                                            <p class="fw-bold text-danger my-0">{{sanPham.price}}</p>
                                            <p class="fw-bold text-danger ms-1 my-0">vnđ</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="bg-white border rounded-3 shadow-sm">
                    <div class="m-3">
                        <h4 class="m-2">Thông tin khách hàng</h4>
                        <div class="row">
                            <div class="col-6 pe-0">
                                <div class="m-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="ten-khach-hang">Tên khách hàng</label>
                                        <p class="text-danger d-inline m-0">{{loiTen}}</p>
                                    </div>
                                    <input class="form-control" type="text" id="ten-khach-hang"
                                        placeholder="Tên khách hàng" ng-model="donHang.name">
                                </div>
                            </div>
                            <div class="col-6 ps-0">
                                <div class="m-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="sdt-khach-hang">Số điện thoại</label>
                                        <p class="text-danger d-inline m-0">{{loiSdt}}</p>
                                    </div>
                                    <input class="form-control" type="tel" id="sdt-khach-hang"
                                        placeholder="Số điện thoại" ng-model="donHang.sdt">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="m-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="email-khach-hang">Email</label>
                                        <p class="text-danger d-inline m-0">{{loiEmail}}</p>
                                    </div>
                                    <input class="form-control" type="text" id="email-khach-hang" placeholder="Email"
                                        ng-model="donHang.email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="m-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="dia-chi-khach-hang">Địa chỉ</label>
                                        <p class="text-danger d-inline m-0">{{loiDiaChi}}</p>
                                    </div>
                                    <input class="form-control" type="text" id="dia-chi-khach-hang"
                                        placeholder="Địa chỉ" ng-model="donHang.diaChi">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-white border rounded-3 shadow-sm my-4">
                    <div class="m-4">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="">Thanh toán</h4>
                            <button type="button" class="btn btn-danger" ng-click="thanhToan()">Thanh toán</button>
                        </div>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-0 d-inline me-1">Tổng tiền:</h4>
                            <div class="text-danger d-inline">
                                <h3 class="d-inline">{{donHang.price}}</h3>
                                <p class="d-inline">vnđ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>